::-webkit-scrollbar {
    width: 7px;
}  
::-webkit-scrollbar-track {
    background: #12121d;
}
::-webkit-scrollbar-thumb {
    background: var(--color-3);

}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-hover);
}
:root{
    --font:'Poppins', sans-serif;
    --font-2: 'Roboto', sans-serif;
    --color-1: #1A1A2F;
    --color-2: #2B2B4C;
    --color-3: #4A4E69;
    --color-4: #fff;
    --color-5: #7C3FD2;
    --color-hover: #4a4e6996;
    --color-shadow: #331b58;
}
.light-theme{
    --color-1: #DEE2E6;
    --color-2:#fff;
    --color-3: #3c3c60;
    --color-4: black;
    --color-5: none;
    --color-hover: #2a2a41; 
    --color-shadow: #b2b4b7;

    .theme-changer-btn{
        content: url(../resources/sun.svg);
    }
    .alerts{
        background-color: #DEE2E6;
    }
}
.imperial-units{
    .units-changer-btn{
        content: url(../resources/fahrenheit.png);
    }
}
body{
    font-family: var(--font);
    background-color: var(--color-2);
    color: var(--color-4);
    zoom: 90%;
}
hr{
    color: var(--color-4);
}

/*---------------------------navbar------------------------------*/

.navbar{
    background-color: #1A1A2F !important;
    color: #fff !important;
    box-shadow: #12121d 2px 2px 2px 2px;
}
.logo{
    border-radius: 100%;
    margin-right: 20px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}

.search-bar{
    width: 500px;
    height: 40px;   
}
.search-dropdown{
    width: 500px;
    max-height: 200px;
    overflow: auto;
}
.user-location-btn{
    border-radius: 100%;
    height: 45px;
    transition: 0.5s;
}
.user-location-btn:hover{
    scale: 1.08;
    cursor: pointer;
}
.alerts{
    font-size: 16px;
    width: 400px;
}
.alerts hr{
    color: black;
}
.alert-btn:hover{
    cursor: pointer;
    scale: 1.08;
}
.theme-changer-btn, .units-changer-btn, .alert-btn{
    height: 35px;
    border-radius: 100%;
    margin-left: 15px;
    transition: 1s;
}
.theme-changer-btn:hover, .units-changer-btn:hover{
    scale: 1.2;
    rotate: 360deg;
    cursor: pointer;
}
.navbar-toggler{
    background-color: #fff;
    border: #12121d solid 3px;
}
.navbar-toggler:hover{
    border: var(--color-5) solid 3px;
}

@media screen and (max-width: 1400px) {
    .alerts{
        width: 270px;
    }
    
}
@media screen and (max-width: 1200px) {
    .search-bar{
        width: 400px;
        margin-top: 10px;
    }
    .search-dropdown{
        width: 400px;
    }
    .alerts{
        font-size: 14px;
    }
    
}
@media screen and (max-width: 992px) {
    .theme-changer-btn, .units-changer-btn, .alert-btn{
        margin-top: 10px;
    }
    .alerts{
        width: 500px;
    }
    
}
@media screen and (max-width: 575px) {
    .search-bar{
        width: 285px;
    }
    .search-dropdown{
        width: 285px;
    }
    .alerts{
        width: 400px;
    }
    
}
@media screen and (max-width: 366px) {
    .navbar-brand{
        font-size: 24px;
    }
    .logo{
        margin-right: 10px;
        height: 35px;
        width: 35px;
    }
    .search-bar{
        width: 270px;
    }
    .search-dropdown{
        width: 270px;
    }
    .alerts{
        width: 300px;
    }
    
}


/*---------------------------navbar------------------------------*/

/*---------------------------current weather------------------------------*/
.location-name{
    font-weight: 600;
}
.current-outer{
    height: 470px;
    background-color: var(--color-1);
    border-radius: 50px;
    border: var(--color-5) solid 2px ;
    box-shadow: var(--color-shadow) 0px 0px 0px 4px;
}
.current-title{  
    margin-left: 2%;
    font-weight: bold;
}
.current-time{
    margin-left: 2%;
}
.current-row{
    margin-left: 2%;
    margin-right: 2%;
    display: flex; 
    justify-content: space-between;
}
.current-details{
    height: 250px;
    background-color: var(--color-3);
    color: #fff;
    border-radius: 20px;
    border: black 3px solid;
    font-family: var(--font-2);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    scale: 0.95;
}
.current-details:hover{
    scale: 0.97;
    background-color: var(--color-hover);
}
.current-condition-icon{
    width: 130px;
    border-radius: 20px;
    background-color: #fff;
}
.current-temp{
    font-size: 45px;
    font-weight: bolder;
}
.current-wind{
    font-size: 45px;
    font-weight: bolder;
}
.current-other{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1399.5px) {
    .current-condition-icon{
        width: 110px; 
     }
    .current-details{
         font-size: 22px;
         height: 200px;
     }
     .current-temp{
         font-size: 35px;
     }
     .current-wind{
         font-size: 35px;
     } 
     .current-outer{
        height: 400px;
     }
}

@media screen and (max-width: 1199.5px) {
    .current-condition-icon{
        width: 100px; 
     }
    .current-details{
         font-size: 18px;
         height: 200px;
     }
     .current-temp{
         font-size: 30px;
     }
     .current-wind{
         font-size: 30px;
     } 
}

@media screen and (max-width: 991.5px) {
    .current-condition-icon{
       width: 80px; 
    }
    .current-details{
        font-size: 15px;
        margin-top: 5px;
        height: 150px; 
        scale: 0.98;
    }
    .current-temp{
        font-size: 25px;
    }
    .current-wind{
        font-size: 25px;
    }
    .current-other-box{
        margin-left: 222px;
    }
    .current-details:hover{
        scale: none;
    }
    .current-outer{
        height: 500px;
     }
}

@media screen and (max-width:767.5px) {
    .current-other-box{
        margin-left: 0;
    }
}

/*---------------------------current weather------------------------------*/

/*---------------------------forecast weather------------------------------*/

.forecast-outer{
    height: 590px;
    margin-top: 8vh;
    margin-bottom: 8vh;
    background-color: var(--color-1);
    border-radius: 50px;
    border: var(--color-5) solid 2px ;
    box-shadow: var(--color-shadow) 0px 0px 0px 4px;
}
.forecast-title{  
    margin-left: 2%;
    font-weight: bold;
}
.forecast-inner{
    margin-left: 10%;
    margin-right: 10%;   
    border-radius: 20px;  
}
.forecast-date{
    margin-left: 2%;
    padding-top: 2vh;
    font-weight: 400;
}
.forecast-details{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    color: #fff;
    background-color: var(--color-3);
    border: black 3px solid;
    scale: 0.95;
    font-family: var(--font-2);
    border-radius: 20px;
    transition: 0.5s;
}
.forecast-details:hover{
    background-color: var(--color-hover);
    scale: 0.99;
}
.forecast-condition-icon{
    width: 100px;
    border-radius: 20px;
    background-color: #fff;
}
.forecast-temp, .forecast-humidity{
    font-size: 45px;
    font-weight: bolder;
}

@media screen and (max-width: 1399.5px) {
    .forecast-details{
         font-size: 22px;
     }
     .forecast-temp, .forecast-humidity{
         font-size: 35px;
     }
}

@media screen and (max-width: 1199.5px) {
    .forecast-condition-icon{
        width: 80px; 
     }
    .forecast-details{
         font-size: 18px;
     }
     .forecast-temp, .forecast-humidity{
         font-size: 30px;
     }

}

@media screen and (max-width: 991.5px) {
    .forecast-temp, .forecast-humidity{
        font-size: 25px;
    }
    
}
@media screen and (max-width:767.5px) {
    .forecast-outer{
        height: 800px;
    }
    .forecast-inner{
        margin-left: 15px;
        margin-right: 15px;
    }
    .forecast-details{
        font-size: 15px;
        height: 130px;
        scale: 0.98;
    }
    .forecast-details:hover{
        scale: 1;
    }
    
}

/*---------------------------forecast weather------------------------------*/

/*---------------------------history weather------------------------------*/

.history-outer{
    height: 1150px;
    margin-bottom: 15vh;
    background-color: var(--color-1);
    border-radius: 50px;
    border: var(--color-5) solid 2px ;
    box-shadow: var(--color-shadow) 0px 0px 0px 4px;
}
.history-title{  
    margin-left: 2%;
    font-weight: bold;
}
.history-inner{
    margin-left: 15%;
    margin-right: 15%;   
    border-radius: 20px;  
}
.history-date{
    margin-left: 2%;
    padding-top: 2vh;
    font-weight: 400;
}
.history-details{
    height: 60px;
    display: flex;   
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    color: #fff;
    background-color: var(--color-3);
    border: black 3px solid;
    scale: 0.95;
    font-family: var(--font-2);
    border-radius: 20px;
    transition: 0.5s;
}
.history-details:hover{
    background-color: var(--color-hover);
    scale: 0.97;
}
.history-temp, .history-humidity{
    font-size: 25px;
    font-weight: bolder;
}


@media screen and (max-width: 1199.5px) {
    .history-details{
         font-size: 18px;
     }
     .history-temp, .history-humidity{
         font-size: 22px;
     }

}

@media screen and (max-width: 991.5px) {
    .history-details{
        font-size: 15px;
    }
    .history-temp, .history-humidity{
        font-size: 18px;
    }   
}

@media screen and (max-width:767.5px) {
    .history-inner{
        margin-left: 10px;
        margin-right: 10px;
    }
    .history-details{
        font-size: 15px;
        scale: 0.98;
    }
    .history-details:hover{
        scale: 1;
    }
    .history-temp, .history-humidity{
        font-size: 15px;
    } 
    
}

@media screen and (max-width:390px) {
    .history-details{
        font-size: 10px;
    }
    .history-temp, .history-humidity{
        font-size: 10px;
    } 
}    